@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
:root{
  --bg-color: white;
}

body{
  margin: 0;
  width:100%;
  height: 100vh;
  display:grid;
  font-size: 20px;
  background-color: var(--bg-color)
}
.outher-circle{
  box-sizing: border-box;
  position: relative;
  width: 25em;
  height: 25em;
  border-radius: 50%;
  box-shadow: 5px 3px 4px 3px #888888;
  background:
    conic-gradient(
      #f7863f 0% 12.5%,
      #669696 12.5% 25%,
      #73b398 25% 37.5%,
      #31a2a6 37.5% 50%,
      #607890 50% 62.5%,
      #565656 62.5% 75%,
      #73b398 75% 87.5%,
      #33a1a8 87.5% 100%
    )
}
.outher-circle-strokes > div {
  position: absolute;
  left: 47.5%;
  top: -1%;
  width: 5%;
  height: 101%;
  transform-origine: center;
  background-color: var(--bg-color);
}
.outher-circle-strokes > div:nth-child(2){
  transform: rotate(45deg);
}
.outher-circle-strokes > div:nth-child(3){
  transform: rotate(90deg)
}
.outher-circle-strokes > div:nth-child(4){
  transform: rotate(135deg)
}

.inner-circle{
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 2.5em;
  font-family: sans-serif;
  color: #3e3e3e;
  
  position: relative;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  border-radius: 50%;
   background-image:
    radial-gradient(
      #a6a6a6 60%,
       var(--bg-color) 60%
    )
}

.outher-circle-content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
}

.outher-circle-content i{
  align-self: center;
  color: white;
  font-size: 2em;
  align-self: start;
  justify-self: start;
  padding: 40% 40%;
}
.outher-circle-content i:nth-child(1),
.outher-circle-content i:nth-child(4),
.outher-circle-content i:nth-child(6),
.outher-circle-content i:nth-child(7){
  align-self:end;
}
.outher-circle-content i:nth-child(2),
.outher-circle-content i:nth-child(4),
.outher-circle-content i:nth-child(6),
.outher-circle-content i:nth-child(8){
  justify-self:end;
}